/target/
.classpath
*.class
.project
.metadata/
.settings/
RemoteSystemsTempFiles/
target/
*~
*.iml
.idea/
.recommenders/
.besouro
src/main/resources/angular/node_modules
src/main/resources/angular/dist