.mat-header-row {
    display: none;
}

.mat-cell {
    text-align: center;
}

.raffled {
    background-color: black;
    color: white;
    border-radius: 5%;
}

.button-row label {
    font-size: 25px;
    padding: 0 10px;
}

.header-container, .bottom-container {
    padding: 10px;
}