<div id="menu" fxLayoutAlign="center">
  <a mat-button href="#home">
    <span>Home</span>
  </a>
  <a mat-button href="#apostar">
    <span>Apostar</span>
  </a>
  <a mat-button href="#resultados">
    <span>Resultados</span>
  </a>
  <a mat-button href="#estatisticas">
    <span>Estatísticas</span>
  </a>
  <a mat-button href="#duvidas">
    <span>Dúvidas</span>
  </a>
  <a mat-button href="#sobre-nos">
    <span>Sobre Nós</span>
  </a>
  <a mat-button href="#contato">
    <span>Contato</span>
  </a>
</div>

<section id="home">
    <div class="bxslider">
      <div><img src="/assets/img/slider/slide1.jpg" title="Cansado de gastar dinheiro em pequenos bolões e não ganhar nada? Aposte no maior bolão da Mega Sena do Brasil e realize seus sonhos. #BolaoDaMega."></div>
      <div><img src="/assets/img/slider/slide2.jpg" title="Quem nunca imaginou em fornecer o melhor pra sua família? Faça sua fézinha com o #BolaoDaMega."></div>
      <div><img src="/assets/img/slider/slide3.jpg" title="Realizar o sonho da casa própria? Apostando com o #BolaoDaMega é possível!!"></div>
      <div><img src="/assets/img/slider/slide4.jpg" title="Compre um carro? Dois carros? Nãããooo... Compre o carro do seus sonhos!! Junte-se a outros apostadores do #BolaoDaMega para realizar seu sonho."></div>
      <div><img src="/assets/img/slider/slide5.jpg" title="Descanse, relaxe, viaje e conheça lugares exuberantes!! Com o #BolaoDaMega da mega isso é possível."></div>
    </div>
</section>

<mat-divider></mat-divider>

<section id="apostar">
    <div fxFlex="100" fxLayoutAlign="center">
        <h1>APOSTAR</h1>
    </div>
</section>

<mat-divider></mat-divider>

<section id="resultados" fxLayout="column">
    <div fxFlex="100" fxLayoutAlign="center">
        <h1>RESULTADOS</h1>
    </div>
    <div fxFlex="100" fxLayoutAlign="center">
        <app-raffled></app-raffled>
    </div>
</section>

<mat-divider></mat-divider>

<section id="estatisticas" fxLayout="column">
    <div fxFlex="100" fxLayoutAlign="center">
        <h1>ESTATÍSTICAS</h1>
    </div>
    <div fxFlex="100" fxLayoutAlign="center">
        <app-statistics></app-statistics>
    </div>
</section>

<mat-divider></mat-divider>

<section id="Dúvidas">
    <div fxFlex="100" fxLayoutAlign="center">
        <h1>DÚVIDAS</h1>
    </div>
</section>

<mat-divider></mat-divider>

<section id="sobre-nos" fxLayout="column">
    <div fxFlex="100" fxLayoutAlign="center">
        <h1>SOBRE NÓS</h1>
    </div>
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="center">
        <mat-card class="card" fxFlex="30">
            <mat-card-header>
                <div mat-card-avatar class="altieres-header-image"></div>
                <mat-card-title>Altieres de Matos</mat-card-title>
                <mat-card-subtitle>Arquiteto de Software</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/img/altieres-capa.png" alt="Foto de Altieres">
            <mat-card-content class="description">
                <p>
                Atualmente trabalha na Matera como Arquiteto de Software. 
                Mestrando em Informática com foco em Computação Aplicada na UTFPR. 
                Nas horas vagas gosta de sair com os amigos. 
                Também dedica seu tempo livre na construção do site bolaodamega.com.br.
                </p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
                <a href="https://www.facebook.com/altitdb" target="_blank">
                    <img src="/assets/img/facebook.png" alt="Facebook">
                </a>
                <span fxFlex="2"></span>
                <a href="https://twitter.com/altitdb" target="_blank">
                    <img src="/assets/img/twitter.png" alt="Twitter">
                </a>
                <span fxFlex="2"></span>
                <a href="https://www.instagram.com/altitdb" target="_blank">
                    <img src="/assets/img/instagram.png" alt="Instagram">
                </a>
                <span fxFlex="2"></span>
                <a href="https://www.linkedin.com/in/altieresdematos" target="_blank">
                    <img src="/assets/img/linkedin.png" alt="Linkedin">
                </a>
                <span fxFlex="2"></span>
                <a href="https://api.whatsapp.com/send?phone=5544999318326" target="_blank">
                    <img src="/assets/img/whatsapp.png" alt="WhatsApp">
                </a>
            </mat-card-actions>
        </mat-card>
        <span fxFlex="5"></span>
        <mat-card class="card" fxFlex="30">
            <mat-card-header>
                <div mat-card-avatar class="ricardo-header-image"></div>
                <mat-card-title>Ricardo Luiz Silveira</mat-card-title>
                <mat-card-subtitle>Analista de Sistemas</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/img/ricardo-capa.png" alt="Foto de Ricardo">
            <mat-card-content class="description">
                <p>
                Atualmente trabalha na Matera como Analista de Sistemas.
                Bacharel em Ciência da Computação pela SMG - A Faculdade.
                Tem paixão por Matemática e Filosofia.
                Dedica seu tempo livre na construção do site bolaodamega.com.br.
                </p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
                <a href="https://twitter.com/RLuizSilveira" target="_blank">
                    <img src="/assets/img/twitter.png" alt="Twitter">
                </a>
                <span fxFlex="2"></span>
                <a href="https://www.linkedin.com/in/ricardoluizsilveira" target="_blank">
                    <img src="/assets/img/linkedin.png" alt="Linkedin">
                </a>
                <span fxFlex="2"></span>
                <a href="https://api.whatsapp.com/send?phone=5544988631384" target="_blank">
                    <img src="/assets/img/whatsapp.png" alt="WhatsApp">
                </a>
            </mat-card-actions>
        </mat-card>
    </div>

    <mat-divider></mat-divider>

    <div fxFlex="100" fxLayoutAlign="center">
        <h1>MISSÃO</h1>
    </div>
    <div fxFlex="100" fxLayoutAlign="center">
        <span>Ganhar na Mega Sena da Virada.</span>
    </div>
    <div fxFlex="100" fxLayoutAlign="center">
        <h1>VISÃO</h1>
    </div>
    <div fxFlex="100" fxLayoutAlign="center">
        <span>Ser o melhor bolão existente do Brasil, provendo aos participantes apostas que possibilitem alcançar o sucesso.</span>
    </div>
    <div fxFlex="100" fxLayoutAlign="center">
        <h1>VALORES</h1>
    </div>
    <div fxFlex="100" fxLayoutAlign="center">
        <mat-card class="card" fxFlex="16">
            <mat-card-header>
                <mat-card-title>Ética</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                Atuar com integridade, honestidade, transparência, confidencialidade e respeito.
                </p>
            </mat-card-content>
        </mat-card>
        <span fxFlex="2"></span>
        <mat-card class="card" fxFlex="16">
            <mat-card-header>
                <mat-card-title>Foco nos Apostadores</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                Relacionar-se com cada apostador de modo a construir vínculos sólidos focando em apostas que aumentem a competitividade do seu investimento.
                </p>
            </mat-card-content>
        </mat-card>
        <span fxFlex="2"></span>
        <mat-card class="card" fxFlex="16">
            <mat-card-header>
                <mat-card-title>Valorização das Pessoas</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                Ter pessoas conectadas com a ideologia, com alto desempenho, inovadoras, colaborativas e comprometidas.
                </p>
            </mat-card-content>
        </mat-card>
        <span fxFlex="2"></span>
        <mat-card class="card" fxFlex="16">
            <mat-card-header>
                <mat-card-title>Maximização dos Resultados</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                Fornecer as melhores apostas e utilizar com eficácia todos os recursos disponíveis.
                </p>
            </mat-card-content>
        </mat-card>
        <span fxFlex="2"></span>
        <mat-card class="card" fxFlex="16">
            <mat-card-header>
                <mat-card-title>Inovação</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                Explorar ideias que gerem vantagem competitiva para alcançar resultados.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</section>

<mat-divider></mat-divider>

<section id="contato">
    <div fxFlex="100" fxLayoutAlign="center">
        <h1>CONTATO</h1>
    </div>
</section>

<mat-toolbar>
  <span>www.bolaodamega.com.br © 2018</span>
</mat-toolbar>