.mat-header-cell {
    text-align: center;
}

.mat-header-row .mat-column-description {
    text-align: left;
}

.mat-column-value {
    text-align: right;
}

.mat-column-lastUpdate {
    text-align: center;
}