mat-toolbar {
    position: relative;
    bottom: 0;
}

mat-toolbar span, #menu button, .bx-wrapper {
    margin: auto;
}

#menu {
    height: 50px;
}

#menu a.mat-button {
    line-height: 50px;
}

.card {
  max-width: 400px;
}

.altieres-header-image {
  background-image: url('/assets/img/altieres-profile.png');
  background-size: cover;
}

.ricardo-header-image {
  background-image: url('/assets/img/ricardo-profile.png');
  background-size: cover;
}

mat-divider {
    margin: 50px;
}

section div h1 {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-weight: 600;
}

mat-card-content.description {
    min-height: 115px;
}